<div class="container mt-4 has-background-white">
    <div class="messages columns">
        <div class="column columns">
            <div class="account user-main column">
                <h2>
                    Information User
                </h2>
                <div  class=" avatar">
                    <img src="/img/{{user.emoji}}" alt="Ảnh bìa manga!!!" style="width: 100px; height: 120px;">
                </div>
                <div  class="form-group">
                    <div>
                        Email: {{user.email}}
                    </div>
                </div>
                <div  class="form-group">
                    <div>Phone: {{user.phone}}</div>  
                </div>
                <div class="form-group">
                    <div>Name: {{user.name}}</div>
                </div>
                <div class="form-group">
                    <div>Address: {{user.address}}</div>
                </div>
            </div>
        </div>
    </div>
</div>